<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Settings</ion-title>
	</ion-navbar>

</ion-header>



<ion-content padding>
		
	<ion-list no-lines *ngIf="changeSettings === false" readonly="true">
			<ion-item >
				<ion-label ><b>Name			:</b>{{inputdataVal?.user_name}} </ion-label><br><br>
			</ion-item> 
			<ion-item >
				<ion-label ><b>Login ID		:</b>{{inputdataVal?.login_id }}</ion-label><br><br>
			</ion-item>
			<ion-item >		
				<ion-label ><b>Email		:</b>{{inputdataVal?.email || 'N/A'}}</ion-label><br><br>
			
			</ion-item>
			<ion-item>
				<ion-label ><b>Phone		:</b>{{inputdataVal?.phone_no || 'N/A'}}</ion-label><br><br>

			</ion-item> 
			<!--ion-item>
				<ion-label ><b>EmailNotification		:</b>{{userDetails.EmailNotification || 'N/A'}}</ion-label><br><br>
	
			</ion-item--> 
		
	</ion-list>
	<form #settingsForm="ngForm" novalidate>
		<ion-list no-lines *ngIf="changeSettings === true" >
		<ion-item >
			<ion-label ><b>Name		:</b></ion-label> 
			<!-- [readonly]="changeSettings" "userDetails.UserName" [readonly]="changeSettings" readonly="true"-->
			<ion-input [(ngModel)]="inputdataVal.user_name" name="UserName"  [ngModelOptions]="{standalone:true}"  type="text" placeholder="Enter the name" #UserName="ngModel" spellcheck="false" required>
			</ion-input>
		</ion-item>
		<ion-item readonly="true">	
		
			<ion-label ><b>Login ID		:</b>{{inputdataVal?.login_id }}</ion-label>
			<!--ion-input readonly="true" [(ngModel)]="inputdataVal.login_id" name="LoginID"  [ngModelOptions]="{standalone:true}"  type="text" placeholder="Enter the login id" #LogidID="ngModel" spellcheck="false" required>
			</ion-input-->
		</ion-item>
		<ion-item>	
		
			<ion-label ><b>New Password		:</b></ion-label>
			<!--name="password" placeholder="Enter password"  type="password"-->
			<ion-input [(ngModel)]="inputdataVal.Password" name="NewPassword"  [ngModelOptions]="{standalone:true}"  type="password" placeholder="Enter password" #NewPassword="ngModel" spellcheck="false" required>
			</ion-input>
		</ion-item>
		<ion-item readonly="true">	
	
			
			<ion-label ><b>Email ID		:</b></ion-label>
			<ion-input [(ngModel)]="inputdataVal.email" name="Email"  [ngModelOptions]="{standalone:true}"  type="text" placeholder="Enter the Email id" #EmailID="ngModel" spellcheck="false" required>
			</ion-input>
		</ion-item>
		<ion-item>	
	
			
			<ion-label ><b>Phone Number		:</b></ion-label>
			<ion-input [(ngModel)]="inputdataVal.phone_no" name="Phone"  [ngModelOptions]="{standalone:true}"  type="number" placeholder="Enter the Phone number" #PhoneNumber="ngModel" spellcheck="false" required>
			</ion-input>
		</ion-item>
		<!--ion-item>	
	
			
			<ion-label ><b>Email Notiification		: Yes</b></ion-label>
			<ion-input [(ngModel)]="userDetails.EmailNotification" name="EmailNotification"  [ngModelOptions]="{standalone:true}"  type="boolean" placeholder="Selection for Notification" #EmailNotification="ngModel" required>
			</ion-input>
		</ion-item-->

		</ion-list>
	</form>
	<ion-grid *ngIf="changeSettings === false">
			
					
			
            <ion-row >
               
              <ion-col col-8>
                  <button ion-button round  type="submit" block (click)="onChangeParameters()" type="submit">Update

				  </button>
              </ion-col>
              
			</ion-row>
			
		</ion-grid>
		<ion-grid *ngIf="changeSettings === true">
			
					
			
				<ion-row >
				   
				  <ion-col col-8>
					  <button ion-button round  type="submit" block (click)="ChangeParameters(settingsForm)" type="submit">Confirm
	
					  </button>
				  </ion-col>
				  
				</ion-row>
				
			</ion-grid>

<br><br><br><br><br><br><br><br><br><br>
		<ion-content padding>
		
				<ion-list>

						<ion-item> 
								<ion-label >&nbsp;</ion-label >
								</ion-item> 

						<ion-item> 
		<ion-label >App Version : 1.0.0</ion-label >
		</ion-item> 
			<ion-item> 
					<ion-label > Powered by TTT </ion-label >
		</ion-item> 
		<ion-item> 
				<ion-label >.</ion-label >
				</ion-item> 

	</ion-list>


</ion-content>
