<ion-header>
  <ion-navbar>
    <ion-title *ngIf="meeting">{{meeting.title}} {{meeting.startTimeStr}}&mdash;{{meeting.endTimeStr}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content session-list">

  <form #meetingEditForm="ngForm" novalidate>
    
    <ion-list no-lines>
      <ion-item>
        <ion-label stacked color="primary">Title</ion-label>
        
        <ion-input [(ngModel)]="meetingEdit.Title" name="title" type="text" placeholder="Enter meeting title" #title="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>
        
      <p ion-text [hidden]="title.valid || submitted == false" color="danger" padding-left>
        Title is required
      </p>

      <ion-item>
        <ion-label stacked color="primary">Notes</ion-label>
          
        <ion-input [(ngModel)]="meetingEdit.Notes" name="notes" type="text" placeholder="Enter meeting notes" #notes="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>
              
      <p ion-text [hidden]="notes.valid || submitted == false" color="danger" padding-left>
        Notes is required
      </p>
            
      <ion-item>
        <ion-label stacked color="primary">Location</ion-label>
          
        <ion-input [(ngModel)]="meetingEdit.Venue" name="venue" type="text" placeholder="Enter meeting location" #venue="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>
          
      <p ion-text [hidden]="venue.valid || submitted == false" color="danger" padding-left>
        Location is required
      </p>

      <!--
      <ion-item readOnly="true">
        <ion-label stacked color="primary">Start Time</ion-label>
        <ion-input readOnly="true" [(ngModel)]="meetingEdit.StartTimeStr" [ngModelOptions]="{standalone:true}" name="startTimeStr" type="text" placeholder="Start Time" #startTimeStr="ngModel" spellcheck="false" autocapitalize="off">
        </ion-input>
        
      </ion-item>

      <ion-item readOnly="true">
        <ion-label stacked color="primary">End Time</ion-label>
        <ion-input readOnly="true" [(ngModel)]="meetingEdit.EndTimeStr" [ngModelOptions]="{standalone:true}" name="endTimeStr" type="text" placeholder="End Time" #endTimeStr="ngModel" spellcheck="false" autocapitalize="off">
        </ion-input>
      </ion-item>

      <ion-item readOnly="true">
        <ion-label stacked color="primary">Category</ion-label>
        <ion-input readOnly="true" [(ngModel)]="meetingEdit.Category" [ngModelOptions]="{standalone:true}" name="category" type="text" placeholder="Category" #category="ngModel" spellcheck="false" required>
        </ion-input>
        
      </ion-item>
    -->
    

    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col col-8>
            <button ion-button round  type="submit" block (click)="onModifyMeeting(meetingEditForm)" type="submit">Modify Meeting</button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  
  </form>

  
  <!--ion-list-header>
      Attendees
  </ion-list-header-->
  <button  ion-button full icon-only color='light'> <!--#aaaaaa-->
    Attendees
  </button>

  <ion-list>
      <ion-item *ngFor="let attendee of attendees">
        {{attendee.name}}
      </ion-item>
  </ion-list>

</ion-content>
