<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feedback</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content session-list">
  <ion-list>
    <ion-grid fixed>
      <ion-row align-items-stretch>
        
        <ion-item *ngFor="let pendingFeedback of pendingFeedbackArray">
          
          <ion-col col-12 col-md-6 align-self-stretch align-self-center  approxItemHeight="457px">

            <ion-card class="session-card">
              <ion-card-header>
                <h2>Title : {{pendingFeedback.meetingTitle}}</h2>
                <div *ngIf=" pendingFeedback.isOrganiser == 'Yes'">
                  <ion-icon name="school"></ion-icon>
                </div>
                <h2>Date : {{pendingFeedback.meetingStartDate}}</h2>
                <h2>Venue : {{pendingFeedback.meetingVenue}}</h2>
              </ion-card-header>
  
              <ion-card-content class="outer-content">
                  
                  <form #feedbackForm="ngForm" novalidate>
                    <ion-list no-lines>
                      
                      <ion-item>
                          <div>Not interested to give feedback
                          <input type="checkbox" checked>
                        </div>
                      </ion-item>
                      <ion-item>
                          <div>Rating</div>
                          <rating [(ngModel)]="pendingFeedback.starRating" name="rate" title="Rating"
                            readOnly="false"
                            max="5"
                            emptyStarIconName="star-outline"
                            halfStarIconName="star-half"
                            starIconName="star"
                            nullable="false"
                          >
                          </rating>     
                      </ion-item>

                      <ion-item>
                        <ion-textarea placeholder="Enter your feedback" [(ngModel)]="pendingFeedback.note" name="contactName"></ion-textarea>
                      </ion-item>

                      <ion-item>
                        <button ion-button type="submit" (click)="submitFeedback(pendingFeedback)">Submit</button>
                      </ion-item>
                    </ion-list>
                      
                  </form>
                  
              </ion-card-content>
              
            </ion-card>
          </ion-col>
        
        </ion-item>


          
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>


