<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feedback</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

    <ion-card-header *ngIf="pendingFeedbackArray.length === 0">
        No pending feedback
    </ion-card-header>
 
    <ion-card *ngFor="let pendingFeedback of pendingFeedbackArray" style="width:95%;">

            <button ion-item full icon-only color='light'>
                    <ion-icon item-right  large  color="primary" name="ribbon" *ngIf=" pendingFeedback.isOrganiser == 'Yes'"></ion-icon>
                  <h3>Title: {{pendingFeedback.meetingTitle}}</h3>
                  <h3>Organiser: ***</h3>
                  <h3>Date: {{pendingFeedback.meetingStartDate}}, 00:00 AM</h3>
                <h3>Venue: {{pendingFeedback.meetingVenue}}</h3>
              </button>  
      
        <ion-list>
      
        <rating [(ngModel)]="pendingFeedback.starRating" name="rate" title="Rating"
          readOnly="false"
          max="5"
          emptyStarIconName="star-outline"
          halfStarIconName="star-half"
          starIconName="star"
          nullable="false"
        >
        </rating>   
      
          <ion-item>
              <ion-textarea rows="15" color='primary' placeholder="Enter your feedback" [(ngModel)]="pendingFeedback.note" name="contactName">

              </ion-textarea>
          </ion-item>
            </ion-list>

            <ion-item>
                <div class="row"> 
                  <div class="col">
                    <button ion-button type="Submit" (click)="submitFeedback(pendingFeedback, 'GIVEN')">Submit Feedback</button>  
                  </div>
                  <div class="col"> 
                    <button ion-button color='light' type="submit" (click)="submitFeedback(pendingFeedback, 'DECLINE')">Not Attended</button>
                  </div> 
                </div>
    
              
              
            </ion-item>
    

      </ion-card>
</ion-content>
