<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contacts</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top *ngIf="addNewContact === false && this.contactSearch === true">    
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateContacts()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-list *ngIf="addNewContact === false && this.contactSearch === true">
 
    <ion-item-sliding *ngFor="let contact of contacts; let i = index" [hidden]="contact.hide">
      
      <button ion-item>
          <h3>{{contact.userName}}</h3>
      </button>

      <ion-item-options>
        <button ion-button color="primary" >
          <ion-icon name="construct"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" > 
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

    
  </ion-list>
  <ion-list-header [hidden]="shownContactsCount > 0">
      No Contacts Found
  </ion-list-header>

  <!--SHOW FORM IF ADD NEW CONTACT IS CLICKED  -->  
      <form #contactForm="ngForm" novalidate>
        <ion-list no-lines *ngIf="this.addNewContact === true && this.contactSearch === false">
          <ion-item>
            <ion-label stacked color="primary">Name</ion-label>
            
            <ion-input [(ngModel)]="contact.ContactName" name="contactName" type="text" placeholder="Enter the name" #contactName="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
          
          <p ion-text [hidden]="contactName.valid || submitted == false" color="danger" padding-left>
            Name is required
          </p>
        
          <ion-item>
            <ion-label stacked color="primary">Mobile</ion-label>
            <ion-input [(ngModel)]="contact.ContactMobile" name="contactMobile" type="text" placeholder=999999999 #contactMobile="ngModel" 
             pattern="^[0-9]{10}$" required>
            </ion-input>
          </ion-item>
          <p ion-text [hidden]="contactMobile.valid || submitted == false" color="danger" padding-left>
            Mobile is required. Should be of 10 digits
          </p>

          <ion-item>
              <ion-label stacked color="primary">Email</ion-label>
              <ion-input [(ngModel)]="contact.ContactEmail" name="contactEmail" type="email" placeholder="abc@xyz.com" #contactEmail="ngModel" 
               pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z-_.]{2,}[.]{1}[a-zA-Z]{2,}" required>
              </ion-input>
          </ion-item>
          <p ion-text [hidden]="contactEmail.valid || submitted == false" color="danger" padding-left>
            Email is required. Should have the proper pattern of email ID
          </p>

        </ion-list>

        <ion-grid *ngIf="this.addNewContact === true && this.contactSearch === false">
            <ion-row >
                <ion-col></ion-col>
              <ion-col col-8>
                  <button ion-button round  type="submit" block (click)="onAddContact(contactForm)" type="submit">Add to Contact List</button>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
        </ion-grid>
      </form>
      <ion-fab bottom left #fab>
        <button ion-fab><ion-icon name="add-circle"></ion-icon></button>
        <ion-fab-list side="right">
          <button ion-fab color="twitter" (click)="onAddNewContact()"><ion-icon name="keypad"></ion-icon></button>
          <button ion-fab color="twitter" (click)="onAddNewContactFromPhone()"><ion-icon name="contacts"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
</ion-content>
