<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="upcoming">
        Upcoming
      </ion-segment-button>
      <ion-segment-button value="past">
        Past
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar> 

  <ion-toolbar no-border-top>    
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event, 0)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list #scheduleList [hidden]="shownMeetingsCount === 0">

    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

      <ion-item-divider item-md-divider-color sticky >
        <ion-label color="primary">
          <B>{{group.startDate | date: 'dd MMM yyyy' }}</B>
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let meeting of group.meetings" #slidingItem [attr.track]="meeting.category" [hidden]="meeting.hide">

        <button ion-item (click)="goToMeetingDetail(meeting)">
          <ion-icon item-right color="primary" name="ribbon" *ngIf="meeting.isOrganiser === 'Yes'"></ion-icon>
          <ion-icon small item-right color='secondary' name="checkmark-circle-outline" *ngIf="meeting.attendeeResponse === 'ACCEPT'"></ion-icon>
          <ion-icon small item-right color='danger' name="close-circle" *ngIf="meeting.attendeeResponse === 'DECLINE'"></ion-icon>
          <ion-icon small item-right color='dark' name="help-circle" *ngIf="meeting.attendeeResponse === 'NOT_GIVEN'"></ion-icon>
          <h2>{{meeting.title}}</h2>
          <p>{{meeting.startTimeStr}}  &mdash; {{meeting.endTimeStr}}</p>
          <p>Venue: {{meeting.venue}}</p>
        </button>

        <ion-item-options>
          <button ion-button color="primary" (click)="editMeeting(meeting)" *ngIf="meeting.isPast === 'No' && meeting.isOrganiser === 'Yes'">
              <ion-icon name="construct"></ion-icon>
              Edit
          </button>
          <button ion-button color="danger" (click)="deleteMeeting(meeting.id)" *ngIf="meeting.isPast === 'No' && meeting.isOrganiser === 'Yes'">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
          
          <button ion-button color="secondary" (click)="respondToMeetingInvitation(meeting.id, 'ACCEPT')" *ngIf="meeting.isPast === 'No' && meeting.isOrganiser === 'No' && (meeting.attendeeResponse ==='DECLINE' || meeting.attendeeResponse ==='NOT_GIVEN')">
            <ion-icon name="checkmark"></ion-icon>
            Accept
          </button>

          <button ion-button color="danger" (click)="respondToMeetingInvitation(meeting.id, 'DECLINE')" *ngIf="meeting.isPast === 'No' && meeting.isOrganiser === 'No' && (meeting.attendeeResponse ==='ACCEPT' || meeting.attendeeResponse ==='NOT_GIVEN')">
            <ion-icon name="close"></ion-icon>
            Decline
          </button>
        
        </ion-item-options>
      
        
      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

  <ion-list-header [hidden]="shownMeetingsCount > 0">
      No Meetings Found
  </ion-list-header>
 
  

</ion-content>