$categories: (
 ionic: color($colors, primary),
 Business: #6600CC,
 Personal: #FE4C52,
 Business1: #AC282B,
 Personal1: #8E8D93,
 Education: #FE4C52,
 Entertainment: #FD8B2D,
 Leisure: #FED035,
 Family: #69BB7B,
 Consultation: #3BC7C4,
 Sales: #B16BE3,
 Marketing: #6600CC,  
);




@function auxiliary-categories() {
  @return map-remove($categories);
}

$item-md-divider-color: "primary";

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 7px solid $value;
     padding-left: 10px;
   }
  }
}
