<ion-header>
    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button icon-only (click)="cancel()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Meeting Details</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list padding>
        <ion-item>
            <ion-label>Title</ion-label>
            <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Notes</ion-label>
            <ion-textarea placeholder="Notes" [(ngModel)]="event.notes" rows="3"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label>Start</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="YYYY-MM-DDTHH:mm" [(ngModel)]="event.startDate" [min]="minDate" ></ion-datetime>
            
        </ion-item>

        <ion-item>
            <ion-label>End</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="YYYY-MM-DDTHH:mm" [(ngModel)]="event.endDate" [min]="minDate"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Location</ion-label>
            <div>
                <img alt="Ionic logo">
            </div>
            <ion-input type="text" [(ngModel)]="event.Location" spellcheck="false" autocapitalize="off">
            </ion-input>

            <!--<ion-select>
                <ion-option (ionSelect)="optionSelected($event)" *ngFor="let room of rooms$ | async" [value]="room">{{room.name}}</ion-option>
            </ion-select>-->
        </ion-item>

        <ion-item>
            <ion-label>Category/Type</ion-label>
            <!--<ion-select [(ngModel)]="event.Category_Type">
                <ion-option value="Business">Business</ion-option>
                <ion-option value="Personal" >Personal</ion-option>
            </ion-select>-->
            <ion-select  [(ngModel)]="event.Category_Type">
                <ion-option *ngFor="let item of this.optVal"  value={{item.key}}>{{item.value}}</ion-option>
                <!--<ion-option value="Personal" >Personal</ion-option>-->
            </ion-select>
        </ion-item>
        <!--
        <ion-item>
            <ion-label>All Day?</ion-label>
            <ion-checkbox [(ngModel)]="addMeeting.All_Day" [disabled]="event.blockDay"></ion-checkbox>
        </ion-item>
        -->
        <ion-item>
            <ion-label> Add Contacts</ion-label>
        </ion-item>
        <ion-list  >
                <!-- <ion-item *ngFor="let item of inputdataVal;let i = index" >
                        <ion-label [(ngModel)]="addMeeting.email[i]">{{item.email}}</ion-label>
                        <ion-checkbox  [(ngModel)]="addMeeting.AddContact[i]" color="danger"></ion-checkbox>
                    </ion-item> -->
                   
                     <ion-item *ngFor="let item of inputdataVal;let i = index" >
                        <ion-label >{{item?.user_name || 'N/A'}}</ion-label>
                        <ion-checkbox  [(ngModel)]="event.AddContact[i]"
                         (ionChange)="addCheckbox($event,item.user_id)" color="danger">
                            {{item?.email || 'N/A'}}
                        </ion-checkbox>
                        
                    </ion-item>
                
    </ion-list>
        <!-- <ion-item>
                <ion-label>Block Day</ion-label>
                <ion-checkbox [(ngModel)]="event.blockDay" (ionChange)="blockDay($event.value)"></ion-checkbox>
            </ion-item>-->


        <button ion-button block icon-left (click)="save()">
            <ion-icon name="checkmark"></ion-icon> Add Meeting
        </button>
    </ion-list>


</ion-content>