<ion-header>
  <ion-navbar>
<div *ngIf="meeting" > 
    <ion-label  color ='white' bold > 
        {{meeting.startDate  | date: 'dd MMM'}} ,  {{meeting.startTimeStr}} &mdash; {{meeting.endTimeStr}}
    </ion-label>
    </div>
  </ion-navbar>

  <ion-grid padding>
  <div *ngIf="meeting" >      
      <button ion-item full icon-only color='light'>
          <h2>{{meeting.title}}</h2>
          <p>Venue: {{meeting.venue}}</p>
          <p><ion-icon small color='primary' item-left name="ribbon"></ion-icon>{{meeting.organiserName}}</p>
        </button>  
  </div>
</ion-grid>
</ion-header>

<ion-content padding>

<ion-list>
    <ion-grid fixed>
    <ion-item *ngFor="let attendee of attendees">
      <ion-avatar item-start>
        <!--img src="assets/img/appicon_o.png"-->
        <ion-icon *ngIf="meeting.isPast === 'No' && attendee.attendeeResponse === 'Accepted' && attendee.isOrganiser === 'No'" color='secondary' name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="meeting.isPast === 'No' && attendee.attendeeResponse === 'Declined' && attendee.isOrganiser === 'No'" color='danger' name="close-circle"></ion-icon>
        <ion-icon *ngIf="meeting.isPast === 'No' && attendee.attendeeResponse === 'Yet to respond' && attendee.isOrganiser === 'No'" color='dark' name="help-circle"></ion-icon>
        <ion-icon *ngIf="meeting.isPast === 'Yes' && attendee.feedbackResponse === 'Given'" color='secondary' name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="meeting.isPast === 'Yes' && attendee.feedbackResponse === 'Not Given'" color='dark' name="help-circle"></ion-icon>
        <ion-icon *ngIf="meeting.isPast === 'Yes' && attendee.feedbackResponse === 'Did not attend meeting'" color='danger' name="close-circle"></ion-icon>
        <ion-icon *ngIf="meeting.isPast === 'No' && attendee.isOrganiser === 'Yes'" color='primary' name="ribbon"></ion-icon>
      </ion-avatar>
      <h2>Name: {{attendee.name}}</h2>
      <!--h3>Email: {{attendee.email}}</h3-->
      <!--h3>Phone: {{attendee.phoneNo}}</h3-->
      <!--p *ngIf="meeting.isPast === 'Yes'">Feedback Response: {{attendee.feedbackResponse}}</p-->
      <h3 *ngIf="meeting.isPast === 'Yes' ">Rating: {{attendee.starRating}} <ion-icon name="star"></ion-icon></h3>
      <p *ngIf="meeting.isPast === 'Yes' ">Feedback: <ion-icon color='secondary' name="checkmark-circle-outline"></ion-icon> {{attendee.feedbackNote}}</p>
      <p *ngIf="meeting.isPast === 'Yes' && attendee.feedbackResponse === 'Did not attend meeting'">Feedback: <ion-icon color='danger' name="close-circle"></ion-icon></p>
      <p *ngIf="meeting.isPast === 'Yes' && attendee.feedbackResponse === 'Not Given'">Feedback: <ion-icon color='dark' name="help-circle"></ion-icon></p>
      <p *ngIf="meeting.isPast === 'No' && attendee.attendeeResponse=== 'Accepted' && attendee.isOrganiser === 'No'">Invitation Response: <ion-icon color='secondary' name="checkmark-circle-outline"></ion-icon></p>
      <p *ngIf="meeting.isPast === 'No' && attendee.attendeeResponse=== 'Declined' && attendee.isOrganiser === 'No'">Invitation Response: <ion-icon color='danger' name="close-circle"></ion-icon></p>
      <p *ngIf="meeting.isPast === 'No' && attendee.attendeeResponse=== 'Yet to respond' && attendee.isOrganiser === 'No'">Invitation Response: <ion-icon color='dark' name="help-circle"></ion-icon></p>
      <p *ngIf="meeting.isPast === 'No' && attendee.isOrganiser === 'Yes'"><ion-icon color='primary' name="ribbon"></ion-icon></p>
    </ion-item>
  </ion-grid>
</ion-list>

<!--

  <ion-content class="outer-content session-list">
    <ion-list>
      <ion-grid fixed>
      <ion-row align-items-stretch>
    
        <ion-item *ngFor="let attendee of attendees">
        <ion-col col-12 col-md-6 align-self-stretch align-self-center  approxItemHeight="457px">
        <ion-card class="session-card">

          <ion-card-header>
          <button ion-item detail-none>{{attendee.name}} </button>
          
          <p> Email : {{attendee.email}}</p>
          <p> Phone : {{attendee.phoneNo}}</p>
          
          </ion-card-header>
    
          <ion-card-content class="outer-content">
          <ion-list>
            <ion-item>
              <div>Rating</div>
              <rating [(ngModel)]="attendee.starRating" name="rate" title="Rating"
                readOnly="true"
                max="5"
                emptyStarIconName="star-outline"
                halfStarIconName="star-half"
                starIconName="star"
                nullable="false"
              >
              </rating>     
            </ion-item>
            <ion-item>
              <h3>Feedback : {{attendee.feedback}}</h3>
            </ion-item>
          </ion-list>
          </ion-card-content>
    
        </ion-card>    
        </ion-col>
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-list>
  -->

  <ion-fab bottom left #fab>
      <button ion-fab><ion-icon name="share"></ion-icon></button>
      <ion-fab-list side="right">
        <button ion-fab color="google" (click)="fnGoogle()"><ion-icon name="logo-googleplus"></ion-icon></button>
        <button ion-fab color="twitter" (click)="fntwitterapp()"><ion-icon name="logo-twitter"></ion-icon></button>
        <button ion-fab color="facebook" (click)="fnFBapp()"><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab color="secondary" (click)="fnWhatsapp()">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </button>
        <button ion-fab color="primary" (click)="fnSMSmsg()">
          <ion-icon name="md-text"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
