<ion-header>
  <ion-navbar>
<div *ngIf="meeting" > 
    <ion-label  color ='white' bold > 
        {{meeting.startDate  | date: 'dd MMM'}} ,  {{meeting.startTimeStr}} &mdash; {{meeting.endTimeStr}}
    </ion-label>
    </div>
  </ion-navbar>

  <ion-grid padding>
  <div *ngIf="meeting" >      
      <button ion-item full icon-only color='light'>
          <P text-wrap>{{meeting.title}}</P>
          <P text-wrap>{{meeting.notes}}</P>
          <p><ion-icon small color='primary' item-left name="locate"></ion-icon> {{meeting.venue}}</p>
          <p><ion-icon small color='primary' item-left name="ribbon"></ion-icon>{{meeting.organiserName}}</p>
        </button>  
  </div>
</ion-grid>
</ion-header>

<ion-content padding>

<ion-list>
    <ion-grid>
    <ion-item *ngFor="let attendee of attendees">
        <p>            
        <!--img src="assets/img/appicon_o.png"-->
        <ion-icon *ngIf="meeting.isPast === 'No' && attendee.attendeeResponse === 'ACCEPT' && attendee.isOrganiser === 'No'" color='secondary' name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="meeting.isPast === 'No' && attendee.attendeeResponse === 'DECLINE' && attendee.isOrganiser === 'No'" color='light_danger' name="close-circle"></ion-icon>
        <ion-icon *ngIf="meeting.isPast === 'No' && attendee.attendeeResponse === 'NOT_GIVEN' && attendee.isOrganiser === 'No'" color='d_light' name="remove-circle"></ion-icon>
        <ion-icon *ngIf="meeting.isPast === 'Yes' && attendee.feedbackResponse === 'GIVEN'" color='secondary' name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="meeting.isPast === 'Yes' && attendee.feedbackResponse === 'NOT_GIVEN'" color='d_light' name="remove-circle"></ion-icon>
        <ion-icon *ngIf="meeting.isPast === 'Yes' && attendee.feedbackResponse === 'DECLINE'" color='light_danger' name="close-circle"></ion-icon>
        <ion-icon *ngIf="meeting.isPast === 'No' && attendee.isOrganiser === 'Yes'" color='primary' name="ribbon"></ion-icon>
        &emsp; {{attendee.name}}</p>
      <!--h3>Email: {{attendee.email}}</h3-->
      <!--h3>Phone: {{attendee.phoneNo}}</h3-->
      <!--p *ngIf="meeting.isPast === 'Yes'">Feedback Response: {{attendee.feedbackResponse}}</p-->
    <div *ngIf="meeting.isPast === 'Yes' && attendee.feedbackResponse === 'GIVEN'">
        <button ion-item full icon-only color='light'>
        <p>Feedback Rating: {{attendee.starRating}} <ion-icon small color="primary" name="star"></ion-icon></p>
        <p text-wrap>
        {{attendee.feedbackNote}} 
        </p>
    </button>
  </div>
    </ion-item>
  </ion-grid>
</ion-list>


  <ion-fab bottom left #fab>
      <button ion-fab><ion-icon name="share"></ion-icon></button>
      <ion-fab-list side="right">
        <button ion-fab color="google" (click)="fnGoogle()"><ion-icon name="logo-googleplus"></ion-icon></button>
        <button ion-fab color="twitter" (click)="fntwitterapp()"><ion-icon name="logo-twitter"></ion-icon></button>
        <button ion-fab color="facebook" (click)="fnFBapp()"><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab color="secondary" (click)="fnWhatsapp()">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </button>
        <button ion-fab color="primary" (click)="fnSMSmsg()">
          <ion-icon name="md-text"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
